<div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
        		    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <%for(var k=0;k < data.length; k++){%>
                    <tr class="odd gradeX">
                        <td style="padding-left: 11px; padding-top: 11px;font-size: 20px"><%=data[k].nombre_importacion%></td>
                        <td><%=data[k].cantidad_importacion%></td>
                        <td>$<%=data[k].precio_importacion%></td>
                    </tr>
                <%}%>    
            </tbody>
        </table>
</div>
